@import 'styles/variaveis';
@import 'styles/breakpoints';

.header {
  align-items: center;
  background-image: url('/assets/cardapio/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  padding: 0px $padding-horizontal;
  @media (max-width: $desktop-xsm) {
    padding: 0 $padding-horizontal-mobile;
  }
  @media (min-width: $desktop-xsm) and (max-width: $desktop-sm){
    padding: 0 $padding-horizontal-sm;
  }
  @media (min-width: $desktop-sm) and (max-width: $desktop-md) {
    padding: 0 $padding-horizontal-md;
  }
  &__text {
    color: white;
    font-size: 5rem;
    min-width: 400px;
    width: 40%;
  }
 }